<header class="main-header">
  <div class="header-left">
    <img src="assets/icons/profile.png" alt="Logo" class="logo-img" />

    <mat-slide-toggle
  [(ngModel)]="isChecked"
  [class.light-mode]="!isChecked"
  [class.dark-mode]="isChecked"
>
  Modo oscuro: {{ isChecked }}
</mat-slide-toggle>



    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  </div>

  <nav class="header-right" id="mobileMenu">
    <a href="#contacto">Contáctame</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#tecnologias">Tecnologías Aprendidas</a>
    <a href="#habilidades">Habilidades</a>
    <a href="#educacion">Educación</a>
    <a href="#sobre-mi">Sobre mí</a>
  </nav>
</header>
